.payment-page-container {
  @include flex-column-centre;

  h1 {
    margin-bottom: 20px;
  }

  .form-and-summary-container {
    @include flex-centre;
    flex-wrap: wrap;

    .form {
      @include flex_column-centre;
      .error-message {
        color: red;
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
    }

    .summary-container {
      @include flex-column-centre;

      padding: 20px;

      .summary {
        p {
          text-align: center;
        }
      }
    }
  }

  .pay-button-container {
    section {
      @include flex-column-centre;
      button {
        width: auto;
        padding: 10px;
        text-align: center;
        margin: 20px;
      }
      span {
        text-align: center;
        color: grey;
      }
    }
  }

  //Facturation form
  .facturation-form-container {
    padding: 20px;

    h2 {
      margin-bottom: 20px;
      text-align: center;
    }

    input {
      @include inputForm;
    }

    button {
      margin-top: 18px;
    }
  }
}
