button {
  all: unset;
  cursor: pointer;
}

#registrationPageContainer {
  background-color: $primary-color;
  height: 100%;
  width: 100%;
  @include flex-centre;

  .backButton {
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease-out;
    @include flex-centre;

    &:hover {
      background: black;
    }

    &:hover > .backButtonIcon {
      color: white;
    }

    .backButtonIcon {
      font-size: 35px;
      color: black;
      transition: color 0.2s ease-out;
    }
  }

  .contentContainer {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 2% 0;

    .contentChildContainer {
      width: 50%;
      height: 100%;

      .logoContainer {
        @include flex-centre;
        height: 100%;
        width: 100%;
      }
    }
  }

  .infoContainer {
    height: 100%;
    width: 50%;
    background-color: white;
    padding: 2% 0;

    .infoChildContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 50px;
      margin: 20px 0 5px 0;

      .titleContainer {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;

        .backInputButton {
          background-color: black;
          color: white;
          padding: 5px;
          font-size: 20px;
          transition: all 0.2s ease-out;
          cursor: pointer;
          position: relative;
          left: 0;

          &:hover {
            background-color: $primary-color;
            color: black;
          }
        }

        h2 {
          font-size: 25px;
          padding: 0;
          margin: 0;
        }
      }

      .inputsContainer {
        @include flex-column-centre;
        width: 100%;
      }

      .second-form-register {
        animation: slideInFromRight 0.5s;
      }

      input {
        all: unset;
        border: 2px solid black;
        background-color: $secondary-color;
        font-size: 15px;
        padding: 10px;
        width: 90%;
      }

      .nextButton {
        width: 90%;
        padding: 10px;
        border: 2px solid black;
        cursor: pointer;
        background-color: black;
        color: white;
        font-size: 18px;
        text-align: center;
        margin: 20px 0 15px 0;
        transition: color 0.2s ease-out, background-color 0.2s ease-out;

        &:hover {
          color: black;
          background-color: $primary-color;
        }
      }

      .divider {
        display: flex;
        width: 90%;
        padding: 20px;
        color: grey;
        .solid {
          width: 40%;
          height: 1px;
          background-color: grey;
        }
      }
    }
  }
  .containerLoginWith {
    width: 100%;
    height: 100%;
    @include flex-column-centre;

    .loginWith {
      width: 95%;
      padding: 10px 10px 10px 10px;
      height: 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: filter 0.4s ease;

      &:hover {
        cursor: not-allowed;
        filter: brightness(1.2);
      }

      .containerLogo {
        width: 13%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .iconSocialMedia {
          font-size: 25px;
          color: white;
        }
      }
    }

    .loginWith:hover::after {
      content: "Indisponible pour le moment";
      display: inline-block;
      background-color: #eee;
      padding: 2px 5px;
      position: absolute;
      top: 100%;
      left: 0;
    }

    .colorTwitter1 {
      background-color: #0582d0;
    }
    .colorTwitter2 {
      background-color: #1da1f2;
    }
    .colorFb1 {
      background-color: #335599;
    }
    .colorFb2 {
      background-color: #4267b2;
    }
    .colorGoogle1 {
      background-color: #a93228;
    }
    .colorGoogle2 {
      background-color: #db4437;
    }

    .containerText {
      padding-right: 10%;
      color: white;
      height: 100%;
      width: 82%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
    }
  }

  .loginContainer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;

    a {
      color: grey;
      transition: color 0.2s ease-out;
      text-decoration: underline;

      &:hover {
        color: black;
      }
    }
  }
}
