.userParametersContainer {
  .mainUserParametersContainer {
    margin-left: 80px;
    @include flex-centre;
    flex-direction: column;

    .paramsOrInvoicesContainer {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .params,
      .invoices {
        background-color: $black-color;
        color: white;
        margin-top: 20px;
        height: 50px;
        width: 260px;
        cursor: pointer;
        @include flex-centre;
        transition: background-color 0.2s ease-in-out;

        &:active {
          scale: 0.9;
        }
      }

      .clicked {
        background-color: $orange;
        border: 2px solid black;
      }
    }

    .params-container {
      height: 100%;
      width: 95%;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;

      .update-container {
        width: 70%;
        height: 100%;

        .personal-info-container,
        .password-container,
        .email-container {
          border: 1px solid grey;
          width: 700px;
          margin: 20px 0 0 10%;
          padding: 10px;

          h3 {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
          }

          form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .input-container {
              width: 100%;
              @include flex-centre;

              .input-label {
                @include flex-centre;
                flex-direction: column;

                label {
                  opacity: 60%;
                }

                input {
                  @include inputForm;
                }
              }
            }

            .input-container-password {
              flex-direction: column;
            }
          }
        }
      }

      .upgrade-container {
        width: 30%;
        height: 100%;
        @include flex-centre;
        flex-direction: column;

        .upgrade-space-params {
          display: flex;
          @include flex-centre;
          flex-direction: column;
          gap: 15px;
          padding: 40px;
          background-color: $black-color;
          border: 2px solid $orange;

          &:hover > .rocketImage {
            animation: shake 0.8s;
            animation-iteration-count: infinite;
          }

          .rocketImage {
            height: 200px;
            width: 200px;
          }

          h3 {
            color: white;
          }

          .button-upgrade {
            background-color: $orange;

            &:hover {
              scale: 1.05;
            }
          }
        }
      }
    }
  }
}
