.homePageContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.mainPageContainer {
  margin-left: 80px;
  padding: 15px;
  width: 90%;

  .welcomeContainer {
    background-color: $grey-container;
    border: lightgray 1px solid;
    width: 95%;
    display: flex;
    padding: 10px;
    height: 60px;

    .welcomeTextContainer {
      width: 50%;
      display: flex;
      align-items: center;
      padding-left: 15px;

      h2 {
        display: flex;
        align-items: center;
        font-size: 22px;
      }
    }

    .searchContainer {
      @include flex-centre;
      background-color: $grey-container;
      width: 50%;
      height: 100%;
      border-left: none;

      .searchIcon {
        padding: 10px;
        border: lightgray 1px solid;
        height: 30px;
        width: 30px;
        font-size: 10px;
        border-right: none;
        color: grey;
        background-color: #ebe9e8;
      }

      input {
        all: unset;
        width: 80%;
        height: 30px;
        padding: 10px;
        border: lightgray 1px solid;
        border-left: none;
        background-color: #ebe9e8;
        font-size: 20px;
      }
    }
  }

  .mainContainer {
    width: 97%;

    h3 {
      font-size: 20px;
      margin: 30px 0 20px 0;
      padding: 0;
    }

    .filesContainer {
      .containerColumnName {
        display: flex;
        width: 97%;
        padding-left: 20px;

        h3 {
          margin: 0;
          margin-bottom: 10px;
          font-size: 18px;
          width: 200px;
        }
      }

      .file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid lightgray;
        padding: 15px;
        height: 50px;
        width: 97%;
        transition: border 0.2s ease-in-out;
        margin-bottom: 15px;

        &:hover {
          border: 2px solid grey;
          cursor: pointer;
        }

        .containerDelete{
          display: flex;
          align-items: center;
          justify-content: center;


          .iconValid{
            font-size: 19px;

            &:hover{
              font-size: 25px;
            }
          }

          .iconNotValid{
            font-size: 17px;

            &:hover{
              font-size: 22px;
            }
          }
        }

        .spanContainer {
          display: flex;
          justify-content: space-between;
          width: 330px;
          margin: 0 100px;

          span {
            color: grey;
          }
        }

        .moreIcon {
          font-size: 20px;
          width: 50px;
          color: grey;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: darkred;
          }
        }

        .containerInfoAndIcon {
          width: 300px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .fileIcon {
            width: 60px;
            height: 60px;
            background-color: $grey-container;

            display: flex;
            justify-content: center;
            align-items: center;

            :first-child {
              font-size: 40px;
            }
          }
        }

        .fileInfos {
          display: flex;
          flex-direction: column;
          width: 220px;

          .titleContainer {
            display: flex;
            align-items: center;

            :first-child {
              max-width: 170px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            h3 {
              font-size: 17px;
              margin: 0;
              padding: 0;
            }
          }

          .type {
            display: flex;

            p {
              color: grey;
              font-size: 12px;
              margin: 6px 0;
            }
          }
        }
      }
    }
  }
}
