html, body{
    height: 100%;
    width: 100%;
    background-color: $primary-color;
}

h1, h2, h3, h4{
    font-family: $primary-font-family !important;
    margin: 0px;
}

span, a, p, div, li, ul, input{
    font-family: $secondary-font-family !important;
}

