.mainHomePageContainer{
  background-color: aqua;
  display: flex;
  justify-content: space-between;
;
}

.homePageContainer{
  margin-left: 80px;
  padding: 15px;
  background-color: red;
  width: 100%;
}

.welcomeContainer{
  background-color: #f8f6f5;
  border: lightgray 1px solid;
  width: 100%;
}