body{
  all: unset;
}

.mainHomePage{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.firstContainer{
  height: 800px;
  display: flex;

  .textSide{
    width: 50%;
    height: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .imageContainer{
      width: 100%;
      height: auto;
      display: flex;
      animation: slide-in 1000ms;
      .logoHomePage{
        padding-left: 30px;
        height: auto;
        width: 150px;
      }
    }

    .mainTextContainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      font-size: 24px;
      width: 100%;
      height: 280px;
      animation: slide-in 1000ms;

      .h1{
        padding: 0%;
        width: 100%;

        h1{
          margin: 0;
          padding-left: 20%;
          word-spacing: 0.1em;
        }
      }

      .p{
        padding: 0%;
        width: 100%;
        span{
          margin: 0;
          padding-left: 20%;
          font-size: 30px;
        }
      }
    }

    .createAccountBtnContainer{
      width: 100%;
      display: flex;
      height: auto;
      padding-bottom: 50px;
      animation: slide-in 1000ms;

      .buttonCreateAccount{
        @include flex-centre;
        width: 200px;
        height: 40px;
        margin-left: 20%;
        font-size: 20px;
        font-weight: bold;
        border: 3px solid black;
        background-color: $secondary-color;
      }

      .buttonCreateAccountFixed{
        @include flex-centre;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 200px;
        height: 40px;
        margin: 0px;
        font-size: 20px;
        font-weight: bold;
        border: 3px solid black;
        background-color: $secondary-color;
        z-index: 10;
      }
    }
  }

  .imageSide{
    width: 50%;
    height: 100%;
    background-image: url('../../../../public/images/someone_working_hard_in_a_office_wearing_a_suit_realis_fdc14cfa-6a9c-428f-b465-2b4fdaecceec-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: drop-in 1000ms;
  }
}



.logInButton{
  all: unset;
  position: fixed;
  text-align: center;
  width: 120px;
  background-color: white;
  border: 3px solid black;
  padding: 10px;
  font-weight: bold;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.secondContainer{
  width: 100%;
  height: 600px;
  @include flex-column-centre;
  background-color: white;

  .titleSecondContainer{
    @include flex-column-centre;
    animation: opacity 2s ease-in-out;

    img{
      height: auto;
      width: 80px;
    }

    h2{
      margin: 0px;
      font-size: 60px;
    }

    p{
      width: 50%;
      font-size: 18px;
      text-align: center;
      line-height: 1.8em;
    };
  }
}

.thirdContainer{
  width: 100%;
  height: 800px;
  background-color: $primary-color;
  @include flex-column-centre;
  .titleThirdContainer{
    @include flex-centre;

    h2{
      font-size: 40px;
    }
  }

  .squareContainer{
    width: 90%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .square{
      height: 400px;
      width: 30%;
      background-color: white;
      display: flex;
      flex-direction: column;

      .squareLogoContainer{
        height: 120px;
        width: 120px;
        border-radius: 100px;
        position: relative;
        left: 35%;
        top: -60px;
        background-color: black;
        @include flex-centre;

        .squareIcon{
          color: white;
          font-size: 60px;
        }
      }

      .squareTextContainer{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;

      }

      h2{
        font-family: $third-font-family;
        margin: 0px;
        font-size: 20px;
        padding: 0px 20px;
        text-align: center;
      }

      li{
        font-size: 22px;
        text-align: start;
        width: 85%;
      }
    }
  }
}

.fourthContainer{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  h2{
    font-size: 55px;
    text-align: center;
    margin: 0px;
  }

  .imageFourthContainer{
    width: 80%;
    height: 300px;
    background-color: blueviolet;
    margin-top: 50px;
    background-image: url('../../../../public/images/Beautiful_hight_modern_grey_building_with_beautiful_ar_c11e5731-9992-476a-8cec-f65f20f811f8-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.fifthContainer{
  width: 100%;
  height: 800px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .contactContainer{
    width: 90%;
    height: 80%;
    display: flex;
  }

  .textSide{
    width: 50%;
    height: 100%;


    .textContainer{
      padding: 50px;
        h2{
            font-size: 40px;
        }

      h4{
        letter-spacing: 0.4em;
        margin-top: 50px;
        font-size: 20px;
        font-family: $third-font-family;
      }

      span{
        font-size: 20px;
      }
    }
  }

  .margin20{
    margin: 20px;
  }

  .textSide{

  }

  .imageSide{
    width: 50%;
    height: 100%;
    background-color: red;
    background-image: url('../../../../public/images/A_happy_man_and_a_happy_woman_wearing_suits_sitting_ar_47a59586-2881-47ea-82c8-502cdfb9e457-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}